
/*****************************************************************/
/*                          General                              */
/*****************************************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:400,500);
.text-rob{
	font-family:'Roboto Slab',serif;
	letter-spacing:0.03rem;
}
.text-rob.tr-1{
	font-weight:300;
}
.text-rob.tr-2{
	font-weight:400;
}
.text-rob.tr-3{
	font-weight:500;
}
/**/
.text-gray{
	color:#dddddd;    
}
/**/
.text-title{
	color:#4b4b7e;
}
.text-green{
	color:#24b470;
}
/**/
.font-weight-bold{
	font-weight:500;
}
/**/
.hide{
    display:none;
}
.show{
    display:block;
}
/*****************************************************************/
/*                          Structure                            */
/*****************************************************************/
.container-top{
	background:#292961;	
}
.container-top.change{	
    box-shadow:0px 0px 4px 0px rgba(0,0,0,0.3);
}
.container-top.ct-min{
	min-height:110px;
}
/**/
.container-carousel{		
	margin-top:3.5rem;
	background:#292961;	
}
.container-carousel img {
    width:100%;
    height:280px;
}
/**/
.container-main{}
.container-main>.cm-orange{
	background:#f8b032;
	min-height:4rem;
}
.container-main>.cm-orange.cm-orange-min{
	background:#f8b032;
	min-height:3.3rem;
}
.container-main .container{
	min-height:30rem;
}
.container-main .cm-elevate{
	padding:3rem 1rem;
	margin-top:-32px;
	background:#f5f5f5;

	-webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.container-main .cm-elevate.cm-elevate-min{
	margin-top:-25px;
}

/**/
.container-mid{
	min-height:20rem;	
}
/**/
.container-section{
	min-height:5rem;
	background:#eee;
}
/**/
.container-bottom{
	background:#292961;
}
/**/
.container-title{
	min-height:7rem;	
	margin-top:3.5rem;
	background:#292961;	
}
/**/
.container-input{
	border-top:0.3rem solid #f8b032;
	margin:3.9rem auto 2rem auto;
	padding:3rem 15px 5rem 15px;
	-webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
/**/
.container-error{
	margin:3.9rem auto 2rem auto;
}
/**/
.container-new{
	width:95% !important;
	margin:3.9rem auto auto auto;
}
/**/
.container-list{
	background:#ffffff;
	margin:0rem 0rem 3rem 0rem;
}
.container-list>.cl-cont{
	padding:1rem;
}
/*****************************************************************/
/*                          Miscellanea                          */
/*****************************************************************/

.cc-title{
	margin-top:7rem;
	color:#f5f5f5;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.38);
}
/**/
.cs-darkblue{
	background:#292961;
}
.cs-darkblue h1{	
	font-family:'Roboto Slab',serif;
	letter-spacing:0.03em;
	color:#fff;
}
/**/
.cs-orange{
	background:#f8b032;
}
.cs-orange h3{	
	font-family:'Roboto Slab',serif;
	font-weight:300;
	letter-spacing:0.03em;
	color:#fff;
}
/**/
h6.cb-title{
    font-family:'Roboto Slab',serif;
    padding-bottom:14px;
    border-bottom:2px solid #4b4b7e;
    color: #fff;
}
.cb-foot{
	border-top:2px solid #4b4b7e;
}
.cb-foot p {
    font-size: 0.9rem;
    color: #8f949f;
}
/**/
.box-filter{
	border:1px solid #292961;
}
/**/
.ct-title{
	padding:0rem 0.9rem;
	color:#fff;
}
/**/
/*****************************************************************/
/*                          Menús                                */
/*****************************************************************/
.menu-foot{
	padding:0px;
}
.menu-foot>li{
	list-style:none;
}
.menu-foot>li>a{
	color:#8f949f;
	font-size:0.9rem;
	transition: all 0.3s;
    text-decoration:none;
}
.menu-foot>li>a:hover{
	color:#f8b032;

}
/**/
.menu-social{
	padding:0px;
}
.menu-social>li{
	list-style:none;
	display:inline-block;
}
.menu-social>li>a{
	color:#dddddd;
	border-radius:50%;
	padding:7px;
	transition:all 0.3s;
}
.menu-social>li>a:hover{
	background:#f8b032;
	color:#4b4b7e;	
}
/**/
.menu-submenu{
	margin:0rem 0.7rem;	
}
.menu-submenu>li>a{
	padding: 0.2rem 1rem;
	color:#fff;
    transition: all 0.3s;
    border-radius:0.2rem;
}
.menu-submenu>li>a:hover{
	color:#f8b032;
	background:#4b4b7e;
}
.menu-submenu>li>a:focus{
	color:#f8b032;
	background:#4b4b7e;
}
.menu-submenu .dm-notification{
	width:18rem;
	height:10rem;
	padding:0.5rem;
	overflow-y:auto;
}
/**/
.menu-social-login{
	padding:0rem 1rem;
}
.menu-social-login>li{
	list-style:none;
	display:inline-block;
}
.menu-social-login>li>a{
	padding:0.5rem 0.5rem;
	color:#4b4b7e;
	border:1px solid rgba(71,85,126,0.7);
	border-radius:3px;
	transition:all 0.3s;
}
.menu-social-login>li>a:hover{
	background:#4b4b7e;
	color:#fff;
}
/**/
.menu-pagination{

}
.menu-pagination>li{
	list-style:none;
	display:inline-block;
}
.menu-pagination>li>a{
	color:#888888;
}
.menu-pagination>li>i{
	color:#888888;
}
/**/
.menu-filter{	
    padding:0rem;
    margin:0rem;
}
.menu-filter>li{
    list-style:none;
    padding:0rem;
}
.menu-filter>li>label{    
    margin:0.1rem;
    padding:0rem 0.5rem;
    border-radius:0.5rem;
    cursor:pointer;
    display:block;
    font-size:0.9rem;
}
.menu-filter>li>label:hover{
    background:#ebebeb;
}
.menu-filter>li>label i{
    display:none;
    font-size:0.7rem;
}
.menu-filter>li>label>input[type="checkbox"]{
    display:none;
}
.menu-filter>li>label.mf-active{
    transition:all 0.3s;
    background:#28a745;
    color:#fff;
}
.menu-filter>li>label.mf-active i{
    display:inline-block;
}
/**/
.menu-details{
	padding:0rem;
}
.menu-details>li{
	list-style:none;
}
.menu-details>li>a{
	color:#666666;
	font-size:0.9rem;
}
.menu-details>li>a>span{
	color:#999999;
}

/*****************************************************************/
/*                          List                                 */
/*****************************************************************/
.list-skills{
	padding:0rem;
}
.list-skills>li{
	list-style:none;	
	margin:0.2rem;
	border-radius:2px;
	display:inline-block;
	background:#f1f1f1;
	border:1px solid #ccd5e4;

}
.list-skills>li>a{
	display:block;
	padding:0.1rem 0.7rem;
	color:#333;
	text-decoration:none;
	cursor:default;
}
.list-skills>li>a.ls-plus{
	display:block;
	cursor:pointer;
	border-radius:2px;
}
.list-skills>li>a.ls-plus:hover{
	background:#4b4b7e;
	color:#fff;
}

/**/
.list-item{
	color:#292961;
}
/**/
/*****************************************************************/
/*                          Element                              */
/*****************************************************************/
.rating>i.icon-star{
	color:#f8b032;
	font-size:0.8rem;
}
/**/
.dotted-bottom{
	margin:1rem 0rem;
	border-top:1px dotted #ccd5e4;
}
/**/
.rc-cont-min{
	border:1px solid #ddd;
	margin:2rem;
	padding:4rem;
}
/**/
.box-solid{
	background:#fff;
	width:300px;
	min-height:100px;
	padding:1rem;
	border-left: 1px solid rgba(204,204,204,0.3);
	margin:0.5rem;
}
/**/
.line-1{
	border-top:1px solid rgba(204,204,204,0.5);
}
.line-2{
	border-top:1px solid rgba(0, 0, 0, 0.15);
}
/**/
.separate-horizontal{
    width: 100%;
    margin:10px 0px;
    position: relative;
    height: 1px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}
.separate-horizontal:after {
    height: 1px;
    background: #e8e8e8;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    left: 0;
}
.separate-vertical{
    width:1px;
    height:auto;
    background:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background:-webkit-gradient(linear, right top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, rgba(0, 0, 0, 0)));
    background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background:-o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background:-ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    
}
/**/
.title-div{
	color:#292961;
}
.title-div>span{	
	color:#959bae;
	font-size:1.5rem;
}
/**/
.title-line{
	margin:2rem 0rem;	
}
.title-line>.tl-title{
	border-bottom:0.2rem solid #f8b032;
	display:inline-block;
	padding:0.6rem 0rem;	


}
.title-line>.tl-line{
	width:95%;
	margin:-0.6rem 0rem 0rem 0rem;
}
/**/
h1.ce-title-error{
	font-size:7rem;
	color:#f3656c;
}
h1.ce-title-error>span{
	font-size:3rem;
	margin-right:2rem;
}
/**/
.menu-bar{
    width:2rem;
    cursor:pointer;
}
.mb-line-1,.mb-line-2,.mb-line-3{
    width:100%;
    height:0.2rem;
    background:white;
    border-radius:1px;
    transition:all 0.5s;
}
.mb-line-2{
    padding:0rrem;
    margin:0.3em 0em;
}
.show .mb-line-1{
    transform:rotate(45deg) translate(5px,5px);
}
.show .mb-line-2{
    opacity:0;
}
.show .mb-line-3{
    transform:rotate(-45deg) translate(8px,-9px);
}
/*****************************************************************/
/*                          module profile                       */
/*****************************************************************/
/**/
.profile-box-img{
	width:100%;
	background:#fafafa;
	border:1px solid #e5e5e5;
	border-radius:0.2rem;	
}
.profile-box-img>.pbi-img{
	padding:0.5rem;
}
.profile-box-img>.pbi-img>img{
	width:3rem;
	height:3rem;
	border-radius:50%;	

}
/**/
.container-profile-head{
	background:#fafafa;
	padding:2rem;
}
.container-profile-head .cph-img{
	width:6rem;
	height:6rem;
	border-radius:50%;
}
/**/
.container-profile{
    border:1px solid rgba(0,0,0,0.1);
    border-radius:0.2rem;
    margin:1.5rem;
    box-shadow:0.5px 0.5px 0px rgba(0,0,0,0.1);
}
.container-profile>.cp-top{
    margin:0.5rem;
}
.container-profile>.cp-cont{
    margin:0.5rem;
}
.container-profile .cp-title>a{
    font-weight:bold;
    color:#292961;
}
.container-profile .cp-edit>a{
    color:#292961;
}
/**/
.profile-edit{
	min-height:20rem;
	margin:1rem;
}
.profile-edit>.pe-title{
	/*background:#f8b032;*/
}
/*****************************************************************/
/*                          module home                          */
/*****************************************************************/
.cm-cont i{	
	color:#616161;
}
.cm-cont img{
	width:100%;
	height:auto;
	margin:3rem auto;
	display:block;
}
/*****************************************************************/
/*                          Media screen                         */
/*****************************************************************/
@media screen and (min-width:300px){
	.cc-title{
		margin-top:2rem;
	}
	/**/
	.text-gray{
		margin:0rem;
	}
	/**/
	.section-dark-blue .sdb-text{
		margin:1rem 0em !important;	
		text-align:center;
		font-size:2rem;
	}
	.section-dark-blue button{
		margin:1rem 0em !important;	
		margin-bottom: 1rem !important;
	}
	/**/
	.section-orange .so-text{
		font-size:1.7rem;
	}
	/**/
	.img-thumbnail.it-perfil{
		width:7rem;		
	}
	/**/
	.cont-center{
		width:75%;
	}
	/**/
	.menu-submenu{
		justify-content: flex-start !important;
		margin:0rem;
	}
	/**/
	.cm-cont i{
		font-size:5rem;
		color:#292961;
		display:block;
		margin-top:2rem;
		margin-bottom:2rem;
	}
	.cm-cont img{
		width:80%;
	}
	/**/
	.container-mid .title-line>h1{
		text-align:center;		
		display:block;
	}
}
@media screen and (min-width:576px){
}
@media screen and (min-width:768px){
	.cc-title{
		margin-top:7rem;
	}
	/**/
	.section-dark-blue .sdb-text{
		margin:2rem 0rem !important;
		text-align:left;		
	}
	.section-dark-blue button{
		margin:2rem 0rem !important;
	}
	/**/
	.section-orange .so-text{

	}
	/**/
	.img-thumbnail.it-perfil{
		width:auto;
	}
	/**/	
	.cm-cont i{
		font-size:2.5rem;
		color:#616161;		
		margin:0rem;
	}
	.cm-cont img{
		width:70%;
	}
	/**/
	.container-mid .title-line>h1{
		text-align:left;		
		display:block;
	}
}
@media screen and (min-width:992px){
	.cont-center{
		width:60%;		
	}
	/**/
	.menu-submenu{
		justify-content: flex-end !important;
		margin:0rem 0.7rem;	
	}
	/**/
	.cm-cont img{
		width:70%;
	}
}

}
@media screen and (min-width:1200px){

}